{% extends "layout.html" %}

{% block main %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<form action="/profile" method="post">

    <div class="container text-start">
        <div class="row">
            <div class="col">
                <h5>username</h5>
                <p>{{ username }}</p>

                <!-- button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    change username
                </button>

                <!-- modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">change username</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <input class="form-control mx-auto w-auto" id="username" name="username"
                                        placeholder="new username" type="text">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control mx-auto w-auto" id="password" name="password"
                                        placeholder="confirm password" type="password">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                                <button type="submit" class="btn btn-primary" name="action" value="change_user">save
                                    changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <h5>password</h5>
                <!-- button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    change password
                </button>

                <!-- modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">change password</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <input class="form-control mx-auto w-auto" id="current_password"
                                        name="current_password" placeholder="current password" type="password">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control mx-auto w-auto" id="new_password" name="new_password"
                                        placeholder="new password" type="password">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control mx-auto w-auto" id="new_password2" name="new_password2"
                                        placeholder="re-enter new password" type="password">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                                <button type="submit" class="btn btn-primary" name="action" value="change_pass">save
                                    changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
            </div>

            <div class="col">
                <h5>graduation year</h5>
                <p>{{ grad_year }}</p>

                <select id="years" name="years">
                    <option value=""></option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                </select>

                <br>
                <br>

                <h5>class</h5>
                <p>{{ curr_class }}</p>

                <select id="classes" name="classes">
                    <option value=""></option>
                    <option value="freshman">freshman</option>
                    <option value="sophomore">sophomore</option>
                    <option value="junior">junior</option>
                    <option value="senior">senior</option>
                </select>

                <br>
                <br>

                <h5>intended concentration</h5>
                <p>{{ concentration }}</p>

                <select id="concentrations" name="concentrations">
                    <option></option>
                    <option>African and African American Studies</option>
                    <option>Anthropology</option>
                    <option>Applied Mathematics</option>
                    <option>Art, Film, and Visual Studies</option>
                    <option>Astrophysics</option>
                    <option>Biomedical Engineering</option>
                    <option>Chemistry</option>
                    <option>Chemical and Physical Biology</option>
                    <option>Chemistry and Physics</option>
                    <option>Classics</option>
                    <option>Comparative Literature</option>
                    <option>Computer Science</option>
                    <option>Earth and Planetary Sciences</option>
                    <option>East Asian Studies</option>
                    <option>Economics</option>
                    <option>Electrical Engineering</option>
                    <option>Engineering Sciences</option>
                    <option>English</option>
                    <option>Environmental Science and Engineering</option>
                    <option>Environmental Science and Public Policy</option>
                    <option>Folklore and Mythology</option>
                    <option>Germanic Languages and Literatures</option>
                    <option>Government</option>
                    <option>History and Literature</option>
                    <option>History</option>
                    <option>History and Science</option>
                    <option>History of Art and Architecture</option>
                    <option>Human Developmental and Regenerative Biology</option>
                    <option>Human Evolutionary Biology</option>
                    <option>Integrative Biology</option>
                    <option>Linguistics</option>
                    <option>Mathematics</option>
                    <option>Mechanical Engineering</option>
                    <option>Molecular and Cellular Biology</option>
                    <option>Music</option>
                    <option>Near Eastern Languages and Civilizations</option>
                    <option>Neuroscience</option>
                    <option>Philosophy</option>
                    <option>Physics</option>
                    <option>Psychology</option>
                    <option>Religion, Comparative Study of</option>
                    <option>Romance Languages and Literatures</option>
                    <option>Slavic Languages and Literatures</option>
                    <option>Social Studies</option>
                    <option>Sociology</option>
                    <option>South Asian Studies</option>
                    <option>Statistics</option>
                    <option>Theater, Dance, and Media</option>
                    <option>Women, Gender, and Sexuality, Studies of</option>
                </select>

                <br>
                <br>
                
                <button type="submit" class="btn btn-primary" name="action" value="school_info">save changes</button>

            </div>
        </div>
    </div>
</form>





{% endblock %}